.proyectos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

}
/* @media (min-width: 768px) {
  .proyectos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
} */

/* >= 900px (3 columnas) */
@media (min-width: 768px) and (max-width: 1600px) {
  .proyectos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

/* >= 1000px (4 columnas) */
@media (min-width: 1601px) {
  .proyectos-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}