html, body {
    margin: 0;
    padding: 0;
    
}

.landing {
    width: calc(100vw - 90px); 
    min-height: calc(100vh - 30px); 
    margin: 0 45px 30px 45px; 
    display: flex;
    justify-content: center;
    
}
