/* Para la opción de Tabs */
.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
}

.ant-tabs-nav {
  margin-bottom: 0;
}

.section {
  padding: 40px 20px;
  min-height: 100vh;
}

/* Para la opción de botones con scroll */
.nav-buttons .ant-btn {
  margin: 0 10px;
}

.section {
  scroll-margin-top: 80px; /* Ajusta según la altura de tu barra de navegación */
}